

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:22px;
    align-items: center;
  
   
}

.post{
    width:300px;
    height:300px;
    border-radius: 10px;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    overflow: auto;
    
  
   
   
    
   
  
}


.edit-button{
    height:33px;
    width:88px;
    background-color: #000000;
    color:white;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;

}

.number-of-posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:22px;
    align-items: center;
}

.dark-mode-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #d3466c;
    background-color: rgb(42, 41, 38);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:22px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    font-size: 12px;
    color: #ffe6e6;
    font-weight: 600;
   
    
}


.light-mode-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:22px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 10px 10px;
    margin: 0px;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
   
    
}


.add-post-button{
    height:33px;
    width:88px;
    background-color: #000000;
    color:white;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.add-post-container,.edit-post-container{
    margin-bottom: 120px;
    height:330px;
    width:400px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 12px;
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.show-edit-add-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom:99px;
  
}

.post-conatainer{
    margin-bottom:170px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #0a0202;
   
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 88px;

   
}

.dark-mode-container{
    background-color: #000000;
   
}

.light-mode-container{
    background-color: #e5f3ef;
    
}

.dark-header{
    color: #f4f4f4;
}

.light-header{
    color: #000000;
}

.logo{
    height:88px;
}

.light-mode-button{
    background-color: #f4f4f4;
    color: #000000;
    height:33px;
    width:99px;
    border-radius: 8px;
    cursor: pointer;
    border:0px;

}

.dark-mode-button{
    background-color: #000000;
    color: #f4f4f4;
    height: 33px;
    width: 99px;
    cursor: pointer;
    border-radius: 8px;
    border:0px;
}


.title,.content,.author{
    width:200px;
    height:33px;
    border-radius: 7px;
    padding-left:7px;
    margin:12px;
    border:1px solid #000000;
}

.cancel-button,.add-button,.cancel-button,.save-button{
    width:77px;
    height:33px;
    background-color: bisque;
    color:#000000;
    cursor: pointer;
    border-radius: 7px;
    margin:12px;
    border:1px solid #000000;
}

@media screen and (max-width:767px){

    .show-edit-add-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom:130px;
    }
    .dark-header,.light-header{
        font-size: 13px;
    }
    .logo{
        height: 60px;
    }
    .dark-mode-button,.light-mode-button{
        height: 33px;
        width: 88px;
        cursor: pointer;
        border-radius: 7px;
        font-size: 12px;
        outline: none;

        
    }

    .add-post-container,.edit-post-container{
        width:300px;
    }
   
}